header {
  background-color: #333;
  background-color: rgba(51,51,51,0.7);
}

#headerRow {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
}

#headerRow::after,
#headerRow::before {
  display: table;
  content: '';
}

#headerRow:after {
  clear: both;
}

#headerRow__left {
  min-height: 1px;
  position: relative;
  float: left;
}

#header__logo {
  display: inline-block;
  margin: 10px 0 10px 10px;
  color: transparent;
  text-decoration: none;
}

#headerRow__right {
  position: relative;
  float: right;
  text-align: right;
  padding-top: 12px;
  width: 56%;
}

#headerRow__right select {
  max-width: 80%;
  margin: 5px 4px 5px 5px;
}

#header__links {
  margin: 8px 0;
  font-family: 'Roboto Condensed', Verdana, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
}

#header__links ul {
  margin: 0;
  list-style-type: none;
}

#header__links li {
  display: inline;
}

#header__links a {
  display: inline-block;
  padding: 3px;
  margin: 5px;
  color: $white;
  text-decoration: none;
  transition: background-color 100ms;
}

#header__links img {
  height: 30px;
  vertical-align: middle;
}

#headerLink--twitter:focus,
#headerLink--twitter:hover {
  background-color: #55acee;
}

#headerLink--facebook:focus,
#headerLink--facebook:hover {
  background-color: #3864a3;
}

#headerLink--tickets:focus,
#headerLink--tickets:hover {
  background-color: #607f26;
}

#headerLink--menuToggle {
  display: none;
}

#quickEventSelectButton {
  padding: 3px 6px;
  margin-right: 5px;
  color: $white;
  background: #607f26;
  border: 1px solid #000000;
}

#quickEventSelectButton:focus,
#quickEventSelectButton:hover {
  background-color: #4e661e;
}
@media (max-width: 550px) {
  header {
    background-color: #333;
  }

  header.doFix {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
  }

  #header__logo img {
    height: 40px;
  }

  #headerRow__right {
    width: auto;
    padding-top: 4px;
  }

  #headerRow__right select {
    display: none;
  }

  #quickEventSelectButton {
    display: none;
  }

  #header__links {
    margin: 0;
  }

  #header__links ul {
    padding-left: 0;
  }

  #headerLink--facebook,
  #headerLink--twitter {
    display: none !important;
  }

  #headerLink--menuToggle {
    display: inline;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 10px;
    text-align: right;
    background-color: transparent;
    border: 0;
  }

  #headerLink--menuToggle img {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
}
