.row {
  margin: 0 0.5%;
}

.row:after,
.row:before {
  display: table;
  content: '';
}

.row:after {
  clear: both;
}

.row__c1 {
  width: 7.33%;
}

.row__c2 {
  width: 14.66%;
}

.row__c3 {
  width: 24%;
}

.row__c4 {
  width: 32.33%;
}

.row__c5 {
  width: 40.66%;
}

.row__c6 {
  width: 49%;
}

.row__c7 {
  width: 57.33%;
}

.row__c8 {
  width: 65.66%;
}

.row__c9 {
  width: 74%;
}

.row__c10 {
  width: 82.33%;
}

.row__c11 {
  width: 90.66%;
}

.row__c12 {
  width: 99%;
}

.row__c,
.row__c1,
.row__c10,
.row__c11,
.row__c12,
.row__c2,
.row__c3,
.row__c4,
.row__c5,
.row__c6,
.row__c7,
.row__c8,
.row__c9 {
  min-height: 1px;
  float: left;
  margin: 0 0.5%;
  position: relative;
}

.row__end {
  float: right !important;
}

.row .row > div:first-child {
  margin-left: 0;
}

.row .row > .row__end {
  margin-right: 0;
}
@media (max-width: 720px) {
  .row--720 > .row__c,
  .row--720 > .row__c1,
  .row--720 > .row__c10,
  .row--720 > .row__c11,
  .row--720 > .row__c12,
  .row--720 > .row__c2,
  .row--720 > .row__c3,
  .row--720 > .row__c4,
  .row--720 > .row__c5,
  .row--720 > .row__c6,
  .row--720 > .row__c7,
  .row--720 > .row__c8,
  .row--720 > .row__c9 {
    width: 100%;
    margin: 0;
    float: none;
  }
}
@media (max-width: 600px) {
  .row--600 > .row__c,
  .row--600 > .row__c1,
  .row--600 > .row__c10,
  .row--600 > .row__c11,
  .row--600 > .row__c12,
  .row--600 > .row__c2,
  .row--600 > .row__c3,
  .row--600 > .row__c4,
  .row--600 > .row__c5,
  .row--600 > .row__c6,
  .row--600 > .row__c7,
  .row--600 > .row__c8,
  .row--600 > .row__c9 {
    width: 100%;
    margin: 0;
    float: none;
  }
}
@media (max-width: 400px) {
  .row--400 > .row__c,
  .row--400 > .row__c1,
  .row--400 > .row__c10,
  .row--400 > .row__c11,
  .row--400 > .row__c12,
  .row--400 > .row__c2,
  .row--400 > .row__c3,
  .row--400 > .row__c4,
  .row--400 > .row__c5,
  .row--400 > .row__c6,
  .row--400 > .row__c7,
  .row--400 > .row__c8,
  .row--400 > .row__c9 {
    width: 100%;
    margin: 0;
    float: none;
  }
}
